.wrapper {
  //margin: 0px auto;
  //padding: 15px;
  @include breakpoint(medium) {
    //max-width: 1400px;
    //padding: 30px;
  }
}

.hero {
  text-align: center;
  padding: 4.4em 0 7em;
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.dent-container {
  color: white;
  background-color: transparent;
  padding: 0;
}

section.size {
  overflow: hidden;
}

.dent-container.light {
  background-color: #fff;
  color: var(--base-colour);
}

.dent-container.light .dent-cover {
  padding: 7rem 0;
  background-color: #fff;
}

.dent-container.bg, .dent-container.bg .dent {
  background-color: #fff;
}

.bg, .guide, .module .footer pre {
  background-color: #fff !important;
}

.dent-container.light .dent {
  background-color: #ee4938;
}

.dent-cover {
  padding: 7rem 0;
  background-color: #ee4938;
}

.contain {
  width: auto;
  max-width: 1124px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  *zoom: 1;
}

.hero h1 img {
  max-height: 50px !important;
  width: auto;
  pointer-events: none;
  user-select: none;
}

.hero h3 {
  font-weight: 400;
  color: #53565a;
  max-width: 73%;
  display: block;
  margin: .4rem auto;
  letter-spacing: 0;
}

.button-group {
  margin-top: 2rem;
}

.gatsby-image-wrapper {
  box-shadow: 1px 1px 9px #ccc;
  margin-top: var(--padding-under);
  display: block;
  background: white;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
}
