header {
  background: white;
  width: 100%;
  > div {
    margin: 0px auto;
    padding: 20px 10px;
    @include breakpoint(medium) {
      max-width: 1200px;
    }
  }
}

.logo {
  max-width: 224px;
  height: auto !important;
}
