@import "reset.scss";
@import "grid-settings.scss";
@import "components/components";
@import "variables/variables";

html {
  margin: 0px auto;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: var(--base-font);
  line-height: 1.4;
  color: var(--base-colour);
  margin: 0px auto;
  background: white;
  border-top: 3px solid var(--orange);
}
